@page "/dashboard"

<h3>Dashboard</h3>

<RadzenRow>
    <RadzenColumn Width="200px">
        <SummaryCard Title="Accounts" Value="0" />
    </RadzenColumn>
    <RadzenColumn Width="200px">
        <SummaryCard Title="Budgets" Value="0" />
    </RadzenColumn>
    <RadzenColumn Width="200px">
        <SummaryCard Title="Transactions" Value="0" />
    </RadzenColumn>
</RadzenRow>

<RadzenCard Style="margin-top:20px">
    <p>Summary of your financial status.</p>
</RadzenCard>
