@page "/overview"
@attribute [Authorize]

<h3>Financial Overview</h3>

<RadzenRow>
    <RadzenColumn Width="200px">
        <SummaryCard Title="Total Balance" Value="$0" />
    </RadzenColumn>
    <RadzenColumn Width="200px">
        <SummaryCard Title="Monthly Spending" Value="$0" />
    </RadzenColumn>
</RadzenRow>

<RadzenCard Style="margin-top:20px">
    <p>This page will display a summary of your finances after signing in.</p>
</RadzenCard>

